<br><br><br><br><br><br><br>


<div class="container">
  <div class="chat">
        <div class="chat-history">
          <ul class="chat-ul">
            <li>

              <%= react_component "BotPage" %>
            </li>
            <li class="clearfix">

          </ul>
    </div>
</div>
