<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="../assets/images/rhonda.png" alt="">
                    <div class="intro-text">
                        <span class="name">Help me, Rhonda</span>
                        <hr class="star-light">
                        <span class="skills">your very own virtual personal assistant</span>
                        <br>
                        <br>
                          <span class="get-started"><a href="/auth/google_oauth2" class="get-started-button btn-social btn-outline"><i></i>GET STARTED</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="portfolio" class="portfolio-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What can Rhonda do for you?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="rhondainfo-container row">
                <div class="col-sm-4 portfolio-item">
                    <h4>Calender</h4>
                    <p>schedule an appointment for you</p>
                    <p>get your free time</p>
                    <p>asdf</p>
                    <p>asdf</p>
                    <p>asdf</p>
                </div>
                <div class="col-sm-4 portfolio-item">
                  <h4>Recipe</h4>
                  <p>ask for a delicious recipe</p>
                  <p>asdf</p>
                  <p>asdf</p>
                  <p>asdf</p>
                  <p>asdf</p>
                </div>
                <div class="col-sm-4 portfolio-item">
                  <h4>Events</h4>
                  <p>see what concerts are playing near you</p>
                  <p>asdf</p>
                  <p>asdf</p>
                  <p>asdf</p>
                  <p>asdf</p>
                </div>
                <div class="col-sm-4 portfolio-item">
                  <h4>Run</h4>
                  <p>plan a workout</p>
                  <p>asdf</p>
                  <p>asdf</p>
                  <p>asdf</p>
                  <p>asdf</p>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <h4>Giphs</h4>
                    <p>see a funny giph</p>
                    <p>asdf</p>
                    <p>asdf</p>
                    <p>asdf</p>
                    <p>asdf</p>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <h4>TV</h4>
                    <p>get the plot of your favorite upcoming series</p>
                    <p>asdf</p>
                    <p>asdf</p>
                    <p>asdf</p>
                    <p>asdf</p>
                </div>
            </div>
        </div>
    </section>


    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-3">
                        <p class="name">
                            <br>Felix Vandelanotte</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://be.linkedin.com/in/felix-vandelanotte-26620498" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/felixvdl" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                                </li>
                            </ul>
                    </div>
                    <div class="footer-col col-md-3">
                        <p class="name">
                            <br>Gibral Raphael</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://www.linkedin.com/in/gibral-raphael-0bb7103" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/graphael7" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                                </li>
                            </ul>
                    </div>
                    <div class="footer-col col-md-3">
                        <p class="name">
                            <br>Emily Gottlieb</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://www.linkedin.com/in/emily-gottlieb-5724a5132" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/egott" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                                </li>
                            </ul>
                    </div>
                    <div class="footer-col col-md-3">
                        <p class="name">
                            <br>Nadav Appel</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://www.linkedin.com/in/nadav-appel" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/nadavP3" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                                </li>
                            </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="footer-wording col-lg-12">
                        DBC Final Project 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
