HEYKES
      <div class="chat-history">
        <ul class="chat-ul">
          <li> <h2>Welcome to your personal assistant Rhonda</h2></li>
          <li>

            <%= react_component "BotPage" %>
          </li>
          <li class="clearfix">

        </ul>
  </div>
